html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  html, body {
    overflow: auto;
  }
}

.full-height {
  min-height: 100vh;
}

.form-card {
  color: white;
  width: 100%;
  max-width: 500px; 
  padding: 0;
  margin: 15px;
  background-color: #350655; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.register-form-card {
  color: white;
  width: 100%;
  max-width: 800px; 
  padding: 0;
  margin: 15px;
  background-color: #350655; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}


